.DS_Store
.goutputstream-*
*.swp
*.swo
*~
*.out
.ipynb_checkpoints/
.Rhistory
.Rproj.user/
__pycache__/
*.py[cod]
work/
scratch/
logs/runs/
logs/runlists/
derivatives/*
!derivatives/README.md
resources/*.nii.gz
!resources/rf1_MNI152NLin6Asym_reference_grid.nii.gz
3dFWHMx.1D*
*.feat/
*.gfeat/
